{% extends 'padre.html' %}


{% block ContenidoQueCambia %}

<h1>Bienvenidos a Pinto un Vino</h1>

<h4>Sumérgete en el fascinante mundo del vino con nuestras catas personalizadas. En Pinto un Vino, ofrecemos experiencias únicas para todos los amantes del vino, desde principiantes hasta expertos.
    
    Ya sea que prefieras una cata de vinos blancos, una experiencia virtual desde la comodidad de tu hogar, o una cata organizada para grupos y empresas, ¡tenemos algo para ti! Explora nuestra selección de vinos, agenda una cata, y disfruta de un recorrido sensorial inigualable.
    
    Tu próxima aventura enológica comienza aquí.</h4>

<!-- <img src="{{url}}" alt="avatar"> -->
    
{% endblock ContenidoQueCambia %}


    