{% extends 'padre.html' %}

{% block ContenidoQueCambia %}

    <h1>Estos son nuestros Usuarios:</h1>

    {% for usuarios in lista_usuarios %}
    <li>
        {{ usuarios }}
    </li>

    <!-- Aquí agregamos la verificación de si es administrador o cliente -->
    {% if usuarios.es_administrador %}
        <p>Este usuario es un administrador.</p>
    {% elif usuarios.es_cliente %}
        <p>Este usuario es un cliente.</p>
    {% endif %}

    <div style="display: flex; column-gap: 5px;">
        <form action="{% url 'EliminarUsuario' usuarios.id %}" method="post"> {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
        <button>
            <a href="{% url 'EditarUsuario' usuarios.id %}">Editar</a>
        </button>
    </div>
    {% endfor %}

    <a href="{% url 'UsuarioFormulario' %}">Crear Usuario</a>
    
{% endblock ContenidoQueCambia %}

