<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vinos</title>
</head>
<body>
    
    Estos son nuestros vinos:

    <ul>

        {% for vinos in lista_vinos  %}
            <li>
                {{vinos.nombre}} - {{vinos.tipo}} - {{vinos.sabor}} - {{vinos.intensidad}} - {{vinos.abv}} - {{vinos.ph}} - {{vinos.ta}} - {{vinos.rs}}
            </li>
        {% endfor %}

    </ul>

</body>
</html>