<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="home-button">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>                    
        </div>
        
        {% if user.is_staff %}
        
        <a class="navbar-brand" href="{% url 'ListaUsuarios' %}">Usuario</a>
            
        {% endif %}
            
        <a class="navbar-brand" href="{% url 'VinoLista' %}">Vinos</a>
        <a class="navbar-brand" href="{% url 'AgendarCata' %}">Agendar Cata</a>

        <!-- Enlace fijo para ver detalles de las catas -->
        <a class="navbar-brand" href="{% url 'DetalleCata' %}">Detalles de la cata</a>

        {% if user.is_authenticated %}
            {% if url %}
                <img src="{{url}}" height="30px" alt="avatar">
            {% endif %}
            <p>Bienvenido {{user.username}}</p>
            <form action="{% url 'Logout' %}" method='post'> {% csrf_token %}
                <button class="btn btn-primary" type="submit">Cerrar Sesión</button>
            </form>
        {% else %}
            <a class="btn btn-primary" href="{% url 'Login' %}">Iniciar Sesión</a>    
        {% endif %}
    </div>
</nav>

